<% if !@entities.blank? %>
<table>
  <% for entity in @entities %>
  
  <%= "<tr id=#{entity.uuid}>"%>
    
    <td><%=link_to entity.title, :action => "show",:id => entity.uuid  %><br><%= link_to_remote "delete", :url =>  {:action => :delete, :id => entity.uuid}, :complete => visual_effect(:highlight, entity.uuid) %></td><td><%=h entity.content %></td><td> UUID:<%=entity.uuid%></td><td><%=entity.entity_type_uuid%></td>
    </tr>
  <% end %>
  </table>
<% else %>
  No entities
<% end %>
<p><%= link_to "Create Entity", new_entity_path %>
<p><%= link_to "List Edges", edges_path %>

