<% if !@entities.blank? %>
<table>
  <% for entity in @entities %>
  <tr>
    <td><%=link_to entity.title, :action => "show",:id => entity.uuid  %></td><td><%=h entity.content %></td><td> UUID:<%=entity.uuid%></td><td><%=entity.entity_type_uuid%></td>
    </tr>
  <% end %>
  </table>
<% else %>
  No entities
<% end %>
<p><%= link_to "Create Entity", new_entity_path %>
<p><%= link_to "List Edges", edges_path %>

