<%= flash[:notice] %>
<% if !@entities.blank? %>
  <% for entity in @entities %>
    <p><%=h entity.title %> - <%=h entity.content %> UUID:<%=entity.uuid%></p>
  <% end %>
<% else %>
  No entities
<% end %>
<p><%= link_to "Create Entity", new_entity_path %>


