<% form_for @entity, :action => :new do |f| -%>
  <p>
    <%= f.label :title, "Title" %><br/>
    <%= f.text_field :title %>
  </p><p>
    <%= f.label :content, "Content" %><br/>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :entity_type_uuid, "Type" %><br/>
    <%= f.select :entity_type_uuid, entity_types %>
  </p>
  <p>
    <%= f.label :owner_uuid, "Owner" %><br/>
    <%= f.select :owner_uuid, @owners %>
  </p>
  <%= f.submit "Create", :disable_with => 'Thanks...' %>
<% end -%>