<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>oozaKazoo</title>
    <%= javascript_include_tag "jquery-1.3.2" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'style', :media => 'all' %>
    <%= stylesheet_link_tag 'flash', :media => 'all' %>
    <%= include_jq4r %>
  </head>
  <body>
    <h1>OozAkAzoO</h1>
    <%= display_flash_messages %>
    <%= yield %>
  </body>
</html>
